<div id="searchbar" data-controller="search-bullets">
  <div class="main-div">
    <%= render "bullets", bullets: @bullets, new_bullet: @new_bullet %>
    <%= render "calendar", bullets: @bullets, new_bullet: @new_bullet %>
  </div>
</div>
