// Specific CSS for your home-page

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

.sign-in {
  position: absolute;
  left: 87%;
  color: #0c1016;
}


#outer {
  width: 164px;
  // text-align: center;
}

h2 {
  text-align: center;
  font-family: $title-font;
  font-size: 64px;
}

.homebtn:hover {
  filter: invert(100%) sepia(13%) saturate(3%) hue-rotate(130deg) brightness(100%) contrast(100%);
}