// Specific CSS for your home-page

body {
  color: var(--primary-color);
}

form.simple_form {
  color: var(--secondary-color);
}

input#content {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

.sign-in {
  color: #0c1016;
  margin-left: auto;
  margin-right: 10px;
}


#outer {
  width: auto;
  // text-align: center;
}

h2 {
  text-align: center;
  font-family: $title-font;
  font-size: 64px;
  margin: 10px 0;
}

#query {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: none;
  color: var(--primary-color);
}

#query::placeholder {
  color: var(--primary-color);
}

.main-div {
  display: flex;
  align-content: space-around;
  padding-top: 100px;
  margin: 0;
  width: 100%;
}

.bullet-list {
  position: relative;
  // background-color: red;
  padding-top: 20px;
  width: 65%; //Ancienement 75%;
  // flex-grow: 1;
}

#calendar {
  margin: 0 auto;
  height: 100vh;
  position: sticky;
  top: 0;
}
