// Specific CSS for your home-page

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}



.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
