.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  border: solid var(--primary-color);
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
}

.form-inputs {
  font-size: 15px;
}

.login-links {
  color: var(--primary-color);
}

.login-form .my-button:hover {
  color: var(--secondary-color);
}

.login-links:hover {
  color: rgb(216, 2, 134);
}


.email:focus {
  box-shadow: none;
  border-color: black;
}

.password:focus {
  box-shadow: none;
  border-color: black;
}

.password {
  color: var(--primary-color);
  font-size: 23px;
}

.email {
  color: var(--primary-color);
  font-size: 23px;
}

.form-check {
  color: var(--primary-color);
}

.dark-theme #user_email {
  color: var(--secondary-color);
}

.dark-theme #user_password {
  color: var(--secondary-color);
}

#user_email {
  color: var(--primary-color);
}

#user_password {
  color: var(--primary-color);
}

// input[type="checkbox"]:checked {
//   color: var(--primary-color);
// }