.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  border: solid var(--primary-color);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.dark-theme .form-actions .my-button:hover {
  color: var(--primary-color);
}