.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  border: solid white;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}