<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://i0.wp.com/grapheostudio.fr/wp-content/uploads/2020/10/Logo-Maison.png?ssl=1", class: "homebtn" %>
  <% end %>


  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <div class="sign-in">
    <% if user_signed_in? %>
      <div id="outer">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "my-button" %>
      </div>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "my-button" %>
    <% end %>
  </div>
</div>


