<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="left-container">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://i0.wp.com/grapheostudio.fr/wp-content/uploads/2020/10/Logo-Maison.png?ssl=1", class: "homebtn" %>
    <% end %>
  </div>
  <div class="center-container">
    <div class="animation-typing">
    <p>My personnal planner.</p>
    </div>
  </div>
 
  <div class="right-container">
    <div class="sign-in">
      <% if user_signed_in? %>
        <div id="outer">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "my-button" %>
        </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "my-button" %>
      <% end %>
    </div>
    <div class="darkmode-btn">
	    <input type="checkbox" class="checkbox" id="chk" />
	      <label class="label" for="chk">
		      <i class="fas fa-moon"></i>
		      <i class="fas fa-sun"></i>
		      <div class="ball"></div>
	      </label>
    </div>
  </div>
</div>
