<div class="events-container">
  <div id=<%="event-#{event.id}"%> class="event">
    <% events.each do |event| %>
    <div class="title">
      <p id="title-content"><%= event.title %></p>
    </div>
    <div class="time">
      <div class="time-from">
        <p><%= event.hour_start %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
