#calendar {
  padding-right: 10px;
  height: 84vh;
  position: sticky;
  top: 80px;
}

#bullet_start_time {
  // color: white;
  color: black;
  visibility: hidden;
  border: none;
  margin: 0;
  padding: 0;
  // height: 1px;
  // font-size: 1px;
}

#bullet_start_time:focus {
  outline: none;
}

span.flatpickr-day.today {
  color: red;
  box-shadow: 0px 0px 0px 0px  #e6e6e6;
}


.niktarace_green::after {
  content: "";
  border: solid rgb(81, 170, 81);
  position: absolute;
  border-radius: 50%;
  top: 88%;
  right: 43%;
}

.niktarace_orange::after {
  content: "";
  border: solid orange;
  position: absolute;
  border-radius: 50%;
  top: 88%;
  right: 43%;
}

.niktarace_red::after {
  content: "";
  border: solid red;
  position: absolute;
  border-radius: 50%;
  top: 88%;
  right: 43%;
}



span.flatpickr-day::after {
  content: "";
  // border: solid green;
  // position: absolute;
  // border-radius: 50%;
  // top: 88%;
  // right: 43%;
}

span.flatpickr-prev-month[aria-label="January 13, 2022"] {
&::after {
  content: "";
  border: solid green;
  position: absolute;
  border-radius: 50%;
  top: 88%;
  right: 43%;
  }
}

span.flatpickr-day.today:hover {
  color: black;
  background-color: transparent;
}

div.flatpickr-calendar.hasWeeks.animate.inline {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.dark-theme div.flatpickr-calendar.hasWeeks.animate.inline {
  border: solid 1px var(--primary-color);
}

.dark-theme .flatpickr-weekwrapper .flatpickr-weeks {
  box-shadow: 0px 0 0 var(--primary-color);
}

span.flatpickr-day.selected {
  background: #d80286;
  border-color: #d80286;
  color: white;
}

span.flatpickr-day.selected:hover {
  background-color: #d80286;
  border-color: black;
  color: black;
}
