#calendar {
  padding-right: 10px;
  height: 84vh;
  position: sticky;
  top: 80px;
}

#bullet_start_time {
  // color: white;
  color: black;
  // visibility: hidden;
  border: none;
  margin: 0;
  padding: 0;
  // height: 1px;
  // font-size: 1px;
}

#bullet_start_time:focus {
  outline: none;
}

span.flatpickr-day.today {
  color: red;
  box-shadow: 0px 0px 0px 0px  #e6e6e6;
}

span.flatpickr-day.today::after {
  content: "";
  border: solid black;
  position: absolute;
  border-radius: 50%;
  top: 75%;
  right: 41%;
}

span.flatpickr-day.today:hover {
  color: black;
  background-color: transparent;
}

div.flatpickr-calendar.hasWeeks.animate.inline {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  // border: solid red 0px;
}

span.flatpickr-day.selected {
  background: #d80286;
  border-color: #d80286;
  color: white;
}

span.flatpickr-day.selected::after {
  content: "";
  border: solid black;
  position: absolute;
  border-radius: 50%;
  top: 75%;
  right: 41%;
}

span.flatpickr-day.selected:hover {
  background-color: #d80286;
  border-color: black;
  color: black;
}
