.events-container {
  height: 50vh;
  width: auto;
  border-top: none;
  background: rgba(255,255,255,0.05);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 0px 1px  #e6e6e6;
  // color: transparent;
  overflow-y: scroll;
}

.events-container::-webkit-scrollbar {
  width: 2px;
}

.events-container::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}


// .scroller {
//   overflow: scroll;
// }

.event {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  border-bottom: solid 1px #AFABAB;
  margin: 0 10px;
}

.event:last-child {
  border-bottom: none;
}

.time {
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 18px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  width: 38px;
  text-align: center;
}

.time-from {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  margin-left: 5px;
  margin-top: 18px;
  font-size: 14px;
  // line-height: 24px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  width: 200px;
  // color: #0000008A;
}

#title-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .title::after {
//   color: red;
// }
