#content {
  border: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 75%;
}

#content:focus{
  outline: none;
  border: none;
}

.draggable{ /* adds styling to the items/names that are going to be draggable */
    padding:1rem;
    background-color: yellow;
    cursor: move;
}
