.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: var(--secondary-color);
  border-bottom: solid var(--primary-color);
  border-top: solid var(--primary-color);
  position: fixed;
  z-index: 1;
  width: 100%;
}

.right-container {
  display: flex;
  align-items: center;
}

#questionbtn {
  margin-bottom: 10px;
  margin-right: 5px;
  border: none;
  background-color: var(--secondary-color);
}


.animation-typing p {
  font-family: IBM Plex Mono, monospace;
  font-size: 45px;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: typing 3.5s steps(22);
}

.animation-typing p::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background: var(--primary-color);
  right: 0;
  top: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {width: 0;}
  to {width: 105%}
}

.navbar-lewagon.dark-theme {
  background: var(--primary-color);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.checkbox {
	opacity: 0;
	position: absolute;
}

.darkmode-btn {
  padding: 0 20px;
  margin-right: 20px;
}

.label {
	background-color: var(--primary-color);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: var(--secondary-color);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

body.dark-theme img {
  filter: invert(100%) sepia(13%) saturate(3%) hue-rotate(130deg) brightness(100%) contrast(100%);
}

// .shortcuts-container {
//   text-align: center;
//   line-height: 4em;
//   white-space: pre-line;
//   position: absolute;
//   top: 22%;
//   right: 40%;
//   width: 500px;
//   height: 300px;
//   z-index: 1;
//   border: 1px solid var(--primary-color);
//   border-radius: 10px;
//   color:  var(--secondary-color);
//   background-color: var(--primary-color);
//   opacity: 0.75;
//   // box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
//   border: 25px solid #B88846;
//   border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
// }
.shortcuts-container {
  padding: 1rem 2rem;
      display: inline-block;
      // border: 3px solid var(--secondary-color);
      border-radius: 5% 4% 4% 4% / 8% 8% 8% 8%;
      letter-spacing: 0.3ch;
      line-height: 4em;
      color: var(--secondary-color);
      background-color: var(--primary-color);
      position: absolute;
      top: 22%;
      right: 40%;
      width: 50%;
      height: 50%;
      
      &::before {
          content: '';
          border: 2px solid var(--secondary-color);
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0) scale(0.940) rotate(0.5deg);
          border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
      }
}


